services:
  influx:
    image: quay.io/influxdb/influxdb3-core:latest
    command:
      - serve
      - --node-id=node0
      - --object-store=file
      - --data-dir=/var/lib/influxdb3
      - --disable-authz=health,ping
    ports:
      - "8181:8181"
    environment:
      LOG_FILTER: error
    volumes:
      - influxdb-data:/var/lib/influxdb3
    networks:
      - backend

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      GF_DISABLE_INITIAL_ADMIN_CREATION: "true"
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_LOG_LEVEL: warn
    volumes:
      - grafana-data:/var/lib/grafana
      - ./config/grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - influx
    networks:
      - backend

  tracker:
    build:
      context: .
      dockerfile: ./docker/tracker.dockerfile
    develop:
      watch:
        - path: ./cmd/tracker
          action: rebuild
        - path: ./internal
          action: rebuild
          ignore:
            - model/
            - peer/
    volumes:
      - ./config/tracker:/config
    depends_on:
      - influx
      - grafana
    networks:
      - backend
    environment:
      LOG_LEVEL: WARN

  peer:
    build:
      context: .
      dockerfile: ./docker/peer.dockerfile
    ## Uncomment to use Nvidia GPUs
    # deploy:
    #   resources:
    #      reservations:
    #        devices:
    #          - driver: nvidia
    #            count: 2
    #            capabilities: [gpu]
    develop:
      watch:
        - path: ./cmd/peer
          action: rebuild
        - path: ./internal
          action: rebuild
          ignore:
            - tracker/
        - path: ./model/
          action: rebuild
          ignore:
            - lib/
        - path: ./protocols
          action: rebuild
    scale: 10
    command:
      [
        "/app/peer",
        "-autoconf",
        "-tracker",
        "http://tracker:8080",
        "-datapath",
        "/data",
        "-logpath",
        "/logs",
      ]
    volumes:
      - ./data/:/data:rw
      - ./logs:/logs:rw
    depends_on:
      - tracker
      - influx
    networks:
      - backend
    environment:
      LOG_LEVEL: INFO

volumes:
  influxdb-data:
  grafana-data:

networks:
  backend:
